.article {
  background: white;
  min-width: 600px;
  border-radius: 20px;
  padding: 20px;

  &Title {
    font-size: 40px;
    text-align: center;
  }

  &Section {
    &Empty {
      text-align: center;
      color: #7b7b7b;
    }
  }
}
