.article {
  background: white;
  min-width: 600px;
  border-radius: 20px;
  padding: 20px;

  &Title {
    font-size: 40px;
    text-align: center;
  }

  &Nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    &Btn {
      border: none;
      background: none;
      cursor: pointer;
      font-weight: 700;

      &Active {
        color: #3f72af;
        text-decoration: underline;
      }
    }

    &Link {
      text-decoration: none;

      &:visited {
        color: black;
      }
    }
  }

  &Section {
    &Empty {
      text-align: center;
      color: #7b7b7b;
    }
  }
}
